:root
{
    --accent-color: #0BAB05;
    --main-font: monospace;
}

@media (prefers-color-scheme: light)
{
    :root
    {
        --bg-color: #FFFFFF;
        --fg-color: #000000;
        --mono-light: #F0F0F0;
        --mono-lighter: #E0E0E0;
        --mono-mid: #606060;
        --bg-red: #F08080;
        --bg-yellow: #FFDD90;
        --bg-green: #80CC80;
        --bg-blue: #70C0FF;
    }
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --bg-color: #202020;
        --fg-color: #F0F0F0;
        --mono-light: #303030;
        --mono-lighter: #404040;
        --mono-mid: #B0B0B0;
        --bg-red: #800000;
        --bg-yellow: #806000;
        --bg-green: #006000;
        --bg-blue: #004080;
    }
}

::selection
{
    color: #F0F0F0;
    background: var(--accent-color);
}

body
{
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--main-font);
    font-size: 13pt;
    margin: 20px auto 80px auto;
    width: 70%;
}

a
{
    color: var(--accent-color);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

button
{
    border: none;
}

button:hover
{
    cursor: pointer;
}

button:focus
{
    outline: 0 !important;
}

code
{
    background: var(--mono-lighter);
    border-radius: 5px;
    font-size: 80%;
    padding: 3px 5px;
}

div
{
    border-radius: 10px;
    padding: 20px;
}

div.plain
{
    background: var(--mono-light);
}

div.red
{
    background: var(--bg-red);
}

div.yellow
{
    background: var(--bg-yellow);
}

div.green
{
    background: var(--bg-green);
}

div.blue
{
    background: var(--bg-blue);
}

div code
{
    background: none;
    font-size: 90%;
}

.dimmed
{
    color: var(--mono-mid);
    font-size: 90%;
}

.smaller-text
{
    font-size: 90%;
}
