:root
{
    --accent-color: #0BAB05;
    --main-font: monospace, "Courier New", Courier;
}

@media (prefers-color-scheme: light)
{
    :root
    {
        --bg-color: #FFFFFF;
        --fg-color: #000000;
        --mono-light: #F0F0F0;
        --mono-lighter: #E0E0E0;
        --mono-mid: #707070;
    }
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --bg-color: #202020;
        --fg-color: #F0F0F0;
        --mono-light: #303030;
        --mono-lighter: #404040;
        --mono-mid: #A0A0A0;
    }
}

::selection
{
    color: #F0F0F0;
    background: var(--accent-color);
}

body
{
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--main-font);
    margin: 20px auto 80px auto;
    width: 70%;
}

a
{
    color: var(--accent-color);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

button
{
    border: none;
}

button:hover
{
    cursor: pointer;
}

button:focus
{
    outline: 0 !important;
}

code
{
    background: var(--mono-lighter);
    border-radius: 5px;
    padding: 5px;
}

div.code
{
    background: var(--mono-light);
    border-radius: 10px;
    padding: 20px;
}

.dimmed
{
    color: var(--mono-mid);
    font-size: 90%;
}
